doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Web Components - Polymer

    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(src="bower_components/webcomponentsjs/webcomponents.js")
    link(rel="import" href="bower_components/polymer/polymer.html")
    link(rel="import" href="bower_components/core-elements/core-elements.html")
    link(rel="import" href="bower_components/paper-elements/paper-elements.html")
  body

    article

      section
        h2 Únete a la Revolución de Web Components con Polymer
        paper-tabs
          paper-tab Tab 1
          paper-tab Tab 2
          paper-tab Tab 3
        paper-checkbox click aqui

      section
        h2 Agenda
        ul
          li Introducción a Web Components
          li Polymer
          li Polymer Demo

      section
        h3 5 Problemas en Desarrollo UI Web
        div HTML no es descriptivo
        div Conflictos entre estilos CSS
        div Plantillas nativas inexistentes
        div Ninguna forma de agrupar dependencias
        div Falta de estandares

      section 
        h2 HTML no es descriptivo
        img(src="images/gmail.png" width="500px")

      section 
        h2 Conflictos de CSS
        img(src="images/css-conflicts.png" )

      section
        h2 Plantillas Nativas Inexistentes
        img(src="images/plantillas-inexistentes.png" width="500px")

      section
        h2 Ninguna forma de agrupar dependencias
        img(src="images/languages.png" width="500px")

      section
        h2 No existen estandares (1)
        img(src="images/dojo.png" width="200")
        img(src="images/dojo-example.png" width="500px")

      section
        h2 No existen estandares (2)
        img(src="images/angular.png" width="200px")
        br
        img(src="images/angular-example.png" width="500px" height="300px")
        



      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
