doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Web Components - Polymer

    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(src="bower_components/webcomponentsjs/webcomponents.js")
    link(rel="import" href="bower_components/polymer/polymer.html")
    link(rel="import" href="bower_components/core-elements/core-elements.html")
    link(rel="import" href="bower_components/paper-elements/paper-elements.html")
    link(rel="import" href="bower_components/google-map/google-map.html") 
  body
    article
      section
        img(src="images/polymer-logo.svg" width="250px")  
        h3 Únete a la Revolución de Web Components con Polymer     
        div(class="footer")
      section
        h2 Agenda
        ul
          li Introducción 
          li ¿Qué resuelven Web Components y Polymer?
          li Polymer Demo

      section
        img(src="images/webcomponents-logo.png") 
        h2 Web Components
        p Web Components no es el nombre de una tecnología; es el nombre de un conjunto de tecnologías que permite resolver una serie de problemas recurrentes en el ámbito de desarrollo web.
      
      
      section
        img(src="images/webcomponents-logo.png") 
        h2 Web Components(2)
        ul
          li Custom elements
          li HTML imports
          li Templates
          li Shadow DOM

      section
        img(src="images/polymer-logo.svg" width="200px")
        h2 Polymer
        p Polymer es una librería, construida encima de Web Components, que define una opinión de cómo trabajar con Web Components
        p 
        ul 
          li Polyfills "webcomponentsjs"
          li "Azúcar sintáctica"
          li UI/Utility framework Core Elements y Paper elements

      section      
        h2 Un poco de historia...

      section
        h2 El primer explorador web
        p desarrollado en 1990 por el físico Tim Berners Lee en CERN al mismo tiempo que el primer servidor web
        img(src="images/primer-explorador.png" width="500px")

      section
        h2 Lanzamiento del primer sitio web
        img(src="images/primer-sitio.png")

      section
        img(src="images/html5-logo.svg" width="200px")       
        p Berners Lee implementó la primera especificación de HTML, que él mismo propuso, como un medio para compartir documentos entre los científicos del CERN

      section
        h2 Bienvenidos JavaScript y CSS
        p Cuando la web inició, las páginas eran sólo documentos. Ahora todos sabemos que son mucho más que documentos
        img(src="images/web-app.png" width="500px")

      section        
        img(src="images/javascript.png" width="300px")
        p El 19 de agosto de 1995 JavaScript fue anunciado

      section
        img(src="images/gn-style.gif" width="250px")

      section
        img(src="images/css-logo.svg" width="200px")
        p CSS1 fue introducido en 1995
 
      section
        p Con la ayuda de JavaScript y CSS finalmente logramos convertir la web en una plataforma para el desarrollo de aplicaciones 
        img(src="images/widgets.png" width="300px")

      section
        img(src="images/success-kid.jpg" width="500px")

      section
        img(src="images/nube.gif" width="200px")
        h2 Sin embargo no todo es color de rosa...
        
        
      section
       h2 5 Problemas en desarrollo web
       ul 
        li HTML no es descriptivo
        li Conflicto entre estilos CSS
        li Plantillas HTML nativas inexistentes
        li Ninguna forma de agrupar dependencias
        li Falta de estándares



      section
        h2 ¿Cómo Web Components y Polymer resuelven estos problemas?

      section 
        img(src="images/webcomponents-logo.png")        
        ul
          li Custom elements
          li HTML imports
          li Templates
          li Shadow DOM

      section 
        h2 HTML no es descriptivo
        img(src="images/gmail.png" width="800px")

      section
        h2 Custom Elements
        paper-tabs(width="500px")
          paper-tab Elemento 1
          paper-tab Elemento 2
          paper-tab Elemento 3
         pre
           code.language-markup.
            &lt;paper-tabs&gt;
             &lt;paper-tab&gt;Elemento 1&lt;/paper-element&gt;
             &lt;paper-tab&gt;Elemento 2&lt;/paper-element&gt;
             &lt;paper-tab&gt;Elemento 3&lt;/paper-element&gt; 
            &lt;/paper-tabs&gt;

      section
        h2 Custom Elements(2)
        ul
          li Declarativos (Código no es necesario)
          li HTML expone su propósito
          li Extensible

      section
        h2 Definiendo elementos

      section
        img(src="images/webcomponents-logo.png")
        pre
          code.language-javascript.
            document.registerElement('paper-tabs')

      section
        img(src="images/polymer-logo.svg" width="250px")
        pre
          code.language-markup.
            &lt;polymer-element name=&quot;paper-tabs&quot;&gt;
             ...
            &lt;/polymer-element&gt;
      section
       h2 Uso
       pre
        code.language-markup.
          &lt;paper-tabs&gt; ... &lt;/paper-tabs&gt;

      section
        h2 Extendiendo Elementos

      section
        img(src="images/webcomponents-logo.png")
        pre
          code.language-javascript.
            document.registerElement('super-button', {
               prototype: Object.create(HTMLButonElement.prototype),
               extends: 'button'
            });

      section 
        img(src="images/polymer-logo.svg" width="250px")
        pre
          code.language-markup.
            &lt;polymer-element name=&quot;super-button&quot; extends=&quot;button&quot;&gt;
              .....
            &lt;/polymer-element&gt;

      section
        h2 Uso
        pre
          code.language-markup.
            &lt;button is=&quot;super-button&quot;&gt;&lt;/button&gt;
    
      section
        h2 Beneficios
        ul 
          li Integrado al DOM. Observers, querySelector, addEventListener.
          li Interoperabilidad. Todos los frameworks son compatibles con el DOM.
          li Accesibilidad.
          li Soporte de herramientas para desarolladores, por ejemplo Google Chrome Dev Tools.


      section
        h2 Plantillas Nativas Inexistentes
        img(src="images/plantillas-inexistentes.png" width="800px")

      section 
        h2 HTML Templates(2)
        pre
          code.language-markup.
            &lt;template&gt;
              &lt;div clas=&quot;comment&quot;&gt;
                &lt;img src=&quot;image.png&quot;&gt;
                &lt;script&gt;...&lt;/script&gt;
              &lt;/div&gt;
            &lt;/template&gt;  

      section 
        h2 HTML Templates(3)
        ul 
          li Propias del DOM.
          li Parseadas; no renderizadas.
          li El contenido está inerte hasta que es clonado/usado.
          li No se toma como parte de la página.


     
      section
        h2 Definiendo Templates.

      section
        img(src="images/webcomponents-logo.png")
        pre
          code.language-markup.
            &lt;template&gt;
              ...
            &lt;/template&gt;

      section
        img(src="images/polymer-logo.svg" width="250px")        
        pre
          code.language-markup.
            &lt;polymer-element name=&quot;user-list&quot;&gt;
              &lt;template&gt;
                &lt;ul&gt;
                  &lt;template repeat=&quot;{{user, i in users}}&quot;&gt;
                    &lt;li&gt;{{user.name}}&lt;/li&gt;
                  &lt;/template&gt;
                &lt;/ul&gt;
              &lt;/template&gt;
            &lt;/polymer-element&gt;    

      section 
        h2 Conflictos de DOM/CSS
        img(src="images/css-conflicts.png" )


      section
        h2 Shadow DOM
        p DOM/CSS "scoping"(ambito)

      section
        h2 Utilizando Shadow DOM

      section
        img(src="images/webcomponents-logo.png")
        pre
          code.language-javascript.
            var shadow = el.createShadowRoot();//ejemplo un div
            shadow.innerHTML = "&lt;b&gt;Soy una imagen de perfil&lt;/b&gt;"
      section
        img(src="images/polymer-logo.svg" width="250px") 
        pre 
          code.language-markup.
            &lt;polymer-element name=&quot;profile-card&quot;&gt;
              &lt;template&gt;
                &lt;b&gt;Soy una imagen de perfil&lt;/b&gt;
              &lt;/template&gt;
            &lt;/polymer-element&gt;

      section
        h2 Ninguna forma de agrupar dependencias
        img(src="images/languages.png" width="500px")

      section
        h2 HTML Imports
        pre
          code.language-markup.
            &lt;head&gt;
              &lt;link rel=&quot;import&quot; href=&quot;core-toolbar.html&quot;&gt;
              &lt;link rel=&quot;import&quot; href=&quot;core-icon-button.html&quot;&gt;
            &lt;head&gt
            &lt;body&gt;
              &lt;core-toolbar&gt;
                ...
              &lt;/core-toolbar&gt;
              &lt;core-icon-button&gt;
              &lt;/core-icon-button&gt;
            &lt;/body&gt; 

      section
        h2 HTML Imports(3)
        ul 
          li Agrupar JS/HTML/CSS 
          li Manejo de dependencias basico

      section
        img(src="images/polymer-logo.svg" width="150px")
        h2  Polymer y HTML Imports
        pre
          code.language-markup.
            &lt;link rel=&quot;import&quot; href=&quot;polymer.html&quot;&gt;
            &lt;link rel=&quot;import&quot; href=&quot;paper-tabs.html&quot;&gt;
            &lt;link rel=&quot;import&quot; href=&quot;paper-tab.html&quot;&gt;
            &lt;polymer-element name=&quot;menu-bar&quot;&gt;
              &lt;template&gt;
                &lt;paper-tabs selected=&quot;0&quot;&gt;
                  &lt;paper-tab&gt;UNO&lt;/paper-tab&gt;
                  ...
                &lt;paper-tabs&gt;                
              &lt;/template&gt;

      section
        h2 Uso
        pre
          code.language-markup.
            &lt;link rel=&quot;import&quot; href=&quot;menu-bar.html&quot;&gt;
            &lt;menu-bar&gt;&lt;/menu-bar&gt;
    
      section
        img(src="images/polymer-logo.svg" width="250px")
        h2 ¿Que más ofrece polymer?

      section
        img(src="images/polymer-logo.svg" width="250px")
        h2 Polymer Core Elements 
        h4 Data/Services
        pre
          code.language-markup.
            &lt;core-localstorage&gt;
            &lt;core-ajax&gt;

      section
        img(src="images/polymer-logo.svg" width="250px")
        h2 Polymer Core Elements 
        h3 Input/Selection
        pre
          code.language-markup.
            &lt;core-media-query&gt;
            &lt;core-collapse&gt;           
            &lt;core-core-selector&gt;           
            &lt;core-input&gt;


      section
        img(src="images/polymer-logo.svg" width="250px")
        h2 Polymer Paper Elements
        paper-button(raised) Soy un boton
          core-icon(icon="favorite" )
        paper-input(value="Soy un Input")
        paper-checkbox Enable        
        paper-slider
        paper-tabs
          paper-tab Elemento 1
          paper-tab Elemento 2
          paper-tab Elemento 3
      
      section
        img(src="images/polymer-logo.svg" width="350px")
        h2 polymer-project.org

      section
        h2 Redefinir nuestro paradigma

      section
        h2 Google tiene 250+ API's


      section
        h2 Codigo para un mapa simple
        pre
          code.language-markup.
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                  &lt;head&gt;
                    &lt;title&gt;Simple Map&lt;/title&gt;
                    &lt;meta name=&quot;viewport&quot; content=&quot;initial-scale=1.0, user-scalable=no&quot;&gt;
                    &lt;meta charset=&quot;utf-8&quot;&gt;
                    &lt;style&gt;
                      html, body, #map-canvas {
                        height: 100%;
                        margin: 0px;
                        padding: 0px
                      }
                    &lt;/style&gt;
                    &lt;script src=&quot;https://maps.googleapis.com/maps/api/js?v=3.exp&quot;&gt;&lt;/script&gt;
                    &lt;script&gt;
                      var map;
                      function initialize() {
                        var mapOptions = {
                          zoom: 8,
                          center: new google.maps.LatLng(-34.397, 150.644)
                        };
                        map = new google.maps.Map(document.getElementById(&#39;map-canvas&#39;),
                            mapOptions);
                      }

                      google.maps.event.addDomListener(window, &#39;load&#39;, initialize);

                    &lt;/script&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;div id=&quot;map-canvas&quot;&gt;&lt;/div&gt;
                  &lt;/body&gt;
                &lt;/html&gt;
      section
        h2
          &lt;google-map&gt;&lt;/google-map&gt;

      section
        h3
          &lt;google-map&gt;&lt;/google-map&gt;
        br          
        google-map(style="height: 600px;width:500px")

      section
        h3 
          &lt;google-map latitude=&quot;14.61333&quot; longitude=&quot;-90.53528&quot;&gt;&lt;/google-map&gt;
        google-map(style="height: 600px;width:500px" latitude="14.61333" longitude="-90.53528")

      section
        pre
          code.language-markup.
            &lt;google-map latitude=&quot;37.77493&quot; longitude=&quot;-122.41942&quot; fitToMarkers&gt;
             &lt;google-map-marker latitude=&quot;37.779&quot; longitude=&quot;-122.3892&quot;
                draggable=&quot;true&quot; title=&quot;Go Google!&quot;&gt;&lt;/google-map-marker&gt;             
            &lt;/google-map&gt;

      section
        google-map(style="height: 600px;width:500px" latitude="37.77493" longitude="-122.41" fitToMarkers)
          google-map-marker(latitude="37.779" longitude="-122.3892" draggable="true" title="Go Google")
          google-map-marker(latitude="40.7127837" longitude="-74.00594130000002" draggable="true" title="Go Google")
      section
        img(src="images/google-web-components.png" width="500px")

      section
        h2 Beneficios
        ul
          li Productividad. 
          li Declarativos. Intuitivos
          li Bloques de desarrollo
          li Mantenibilidad. Lee una app y entiende el objetivo.
          li Reusabilidad. 
          li Extensibilidad
          li Scoping/Ambito
          li Interoperabilidad. DOM regular.
          li Accesibilidad.

      
      section
        img(src="images/demo-time.png")

      section
        h2 Pre requisitos
        img(src="images/node-logo.svg" width="200px")        
        img(src="images/bower-logo.png" width="200px")
        h2 Bower

      section
        h1 Gracias!!!
        p twitter: @hottroth
        p ottogiron.me
        p guatemalajs.org


    script(src='build/build.js')
